<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Steamy Feelings</title>
</head>
<body>
    
      
    <div class="container h-100 mt-4">
        <h1 class="text-center">Steamy Feelings</h1>
        <div class="row justify-content-center">
            <form class="col-12 bg-info p-3 rounded shadow mb-4" action="/" method="POST">
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label text-light">Query</label>
                    <input type="text" name="query" class="form-control col-9 rounded shadow" id="formGroupExampleInput" placeholder="doom shooter demons">
                </div>
                <div class="form-group row">
                    <label for="mood-dropdown" class="col-2 col-form-label text-light">Moods</label>
                    <select class="form-control col-9 rounded shadow" name="mood" id="mood-dropdown">
                        <option value=-1>No Filter</option>
                        <option value=0>Adventurous</option>
                        <option value=1>Aggressive</option>
                        <option value=2>Cute</option>
                        <option value=3>Dark</option>
                        <option value=4>Horror</option>
                        <option value=5>Humorous</option>
                        <option value=6>Imaginative</option>
                        <option value=7>Intense</option>
                        <option value=8>Light-hearted</option>
                        <option value=9>Mysterious</option>
                        <option value=10>Peaceful</option>
                        <option value=11>Quirky</option>
                        <option value=12>Romantic</option>
                        <option value=13>Sad</option>
                        <option value=14>Sarcastic</option>
                        <option value=15>Solitary</option>
                    </select>
                </div>
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-outline-light float-right">Submit</button>
                </div>
            </form>   
        </div> 
        <% if(data != undefined){ %> 
            <% if(data.length == 0) { %>
                <h1>No results. Try editing your query or changing the mood filter.</h1>
            
            <% } else { %>
                <% for( let game of data) { %> 
                    <div class="container">
                        <div class="card mb-4 text-center shadow">
                            <div class="card-body">
                            <h5 class="card-title"><%= game.title %> </h5>
                            <p class="card-text"><%= game.descSnippet %> </p>
                            <a href="<%= game.url %> " class="btn btn-primary">Show me!</a>
                            </div>
                        </div>
                    </div>
                <% } %> 
            <% } %>  
            
        <% } %> 
    </div>

    
     
   
    
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>